$color-bg: white;
$color-fg: #333;
$color-error: red;
$color-selected-bg: #b4b1df;
$color-selected-fg: white;
$color-hover: darken($color-selected-bg, 50%);
$color-border: desaturate($color-selected-bg, 30%);

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin shadow($color) {
  box-shadow: 0 0 3px 1px $color;
}

@mixin form-hover() {
  border-color: darken($color-border, 20%);
}

@mixin form-selected() {
  border-color: $color-selected-bg;
  background-color: $color-selected-bg;
  color: $color-selected-fg;
}

@mixin form-focus() {
  @include shadow($color-hover);
  outline: none;
  -moz-outline: none;
}
