$color-bg: white;
$color-fg: #333;
$color-error: red;
$color-selected-bg: rgb(35, 177, 17);
$color-selected-fg: white;
$color-border: lightgray;

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin shadow($color) {
  box-shadow: 0 0 3px 1px $color;
}

@mixin form-hover() {
  border-color: darken($color-border, 20%);
}

@mixin form-selected() {
  border-color: $color-selected-bg;
  background-color: $color-selected-bg;
  color: $color-selected-fg;
}

@mixin form-focus() {
  @include shadow(lighten($color-selected-bg, 20%));
  outline: none;
  -moz-outline: none;
}
